@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "breakpoints";

$base-font-size: 16px;
$base-font-family: "Inter", sans-serif;
$base-font-weight: 400;
$base-line-height: 1;
$base-letter-spacing: 1px;
$small-text: 0.875rem;
$extra-small-text: 0.7em;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  text-transform: capitalize;
  letter-spacing: $base-letter-spacing;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: $small-text;
}